.container {
  align-items: center;
  display: flex;
  gap: 60px;
}

.menuItem {
  font: var(--font-text-3);
  line-height: 20px;
  text-align: center;
}

.menuItem:hover {
  color: var(--blue-main-color);
}

@media (max-width: 768px) {
  .container {
    gap: 30px;
  }

  .menuItem {
    font: var(--font-text-5);
    font-weight: 400;
  }
}
