.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  overflow: auto;
  height: calc(100vh - 270px);
  align-items: center;
}

.list::-webkit-scrollbar {
  display: none;
}

.empty {
  padding-top: 20px;
}

@media (max-width: 768px) {
  .list {
    height: 100%;
  }
}
