@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@100;200;900&family=Libre+Baskerville:wght@400;700&family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;600;700&family=Inter:wght@100;200;900&family=Libre+Baskerville:wght@400;700&family=Noto+Sans+Georgian:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@300;400;500;600;700;900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik+Bubbles&display=swap');

:root {
  --white-color: #fff;
  --grey100-color: #f5f5f6;
  --grey200-color: #eaebed;
  --grey300-color: #d5d6dc;
  --grey500-color: #acadb9;
  --grey600-color: #7b7c88;
  --black-color: #232134;
  --blue600-color: #3b7cd3;
  --blue-main-color: #5e96fc;
  --blue400-color: #92c1ff;
  --blue300-color: #b7d6ff;
  --blue200-color: #c9e0ff;
  --blue100-color: #deecff;

  --font-family-inter: 'Inter', normal;
  --font-family-poppins: 'Poppins', normal;


  --font-text-1: 600 24px var(--font-family-inter);
  --font-text-3: 500 16px var(--font-family-inter);

  --font-title: 600 24px var(--font-family-poppins);

}
