@import './variables';

* {
  box-sizing: border-box;
  font-family: var(--font-family-inter);
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--grey100-color) !important;
  color: var(--black-color);
  font: var(--font-text-3);
}

a {
  text-decoration: none;
}

.active {
  color: var(--blue-main-color);
}
