.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 773px;
  margin: 0 auto;
  padding: 40px 0;
  width: 100%;
}

.vacancyCard {
  h2 {
    color: var(--black-color);
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
  }
}

.info {
  background-color: var(--white-color);
  border-radius: 12px;
  border: 1px solid var(--grey200-color);
  padding: 24px;

  ul {
    padding-bottom: 20px;
  }

  li {
    margin: 0 24px;
  }
}
