.container {
  background-color: var(--white-color);
  border-radius: 12px;
  border: 1px solid var(--grey200-color);
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 24px;
  position: relative;
  width: 100%;
}

.work {
  color: var(--blue-main-color);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding-right: 40px;
}

.wrapper {
  align-items: center;
  display: flex;
  gap: 12px;
  text-align: center;
}

.salary {
  color: var(--black-color);
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}

.timeLine {
  color: var(--black-color);
  line-height: 20px;
}

.location {
  align-items: center;
  display: flex;
  gap: 8px;
}

.locationIcon {
  width: 20px;
}

.city {
  color: var(--black-color);
  line-height: 19px;
}

.favorite {
  position: absolute;
  right: 25px;
  top: 25px;
}

.star,
.activeStar {
  cursor: pointer;
}

.star:hover {
  path {
    stroke: #3b7cd3;
  }
}
.activeStar {
  fill: #3b7cd3;
  path {
    stroke: #3b7cd3;
  }
}

@media (max-width: 786px) {
  .container {
    padding: 16px;
    gap: 8px;
  }

  .work {
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
  }

  .salary {
    font-size: 14px;
  }

  .wrapper {
    flex-direction: column;
    align-items: flex-start;
  }

  .timeLine {
    font-size: 14px;
  }

  .city {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .work {
    font-size: 14px;
    font-weight: 600;
  }
}
