.container {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 0 auto;
  max-width: 773px;
  padding: 40px;
}

.hidden {
  display: none;
}

@media (max-width: 786px) {
  .container {
    padding: 16px;
  }
}
